@model IEnumerable<LaptopSystem.Web.Models.LaptopViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Laptop System</h1>
</div>

<div class="row">
    @for (var i = 0; i < Model.Count(); i++){
        var laptop = Model.ElementAt(i);
        <div class="col-sm-4">
            <h2>@laptop.Manufacturer @laptop.Model</h2>
            <img src="@laptop.ImageUrl" class="img-responsive" alt="@laptop.Model" />
            <p class="text-center">
                <a class="btn btn-default" href="@Url.Action("Details", "Laptop", new {laptop.Id})">Price @laptop.Price</a>
            </p>
        </div>
        
        if (i > 0 && i % 2 == 0)
        {
            @:</div>
            @:<div class="row">
        }
    }
</div>